.footer {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  padding: 4px 16px;
  background: #696969;
  text-transform: uppercase;
  justify-content: flex-end;
}

.link {
  color: #e8e8e8;

  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.text {
  font-size: 20px;
  color: #cbcaca;
}
